body {
    text-align: center;
    background-color: rgb(0,0,0);
    margin: 0px;
    font-family: "Fnaf UI", "Fnaf UI Regular", monospace;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: "Fnaf UI";
    src: url("assets/fonts/Fnaf UI.ttf");
}

#powerleft_txt {
    position: absolute;
    left: 30px;
    top: 580px;
}

#clock {
    position: absolute;
    left: 30px;
    top: 520px;
}

#powerusage_txt {
    position: absolute;
    left: 30px;
    top: 550px;
}

#powerusage_imgs {
    position: absolute;
    left: 170px;
    top: 547.5px;
}

#setupmenu {
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    text-align: left;
    background-color: rgb(50,50,50);
    color: rgb(255,255,255);
}

#gamearea {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 1366px;
    height: 100vh;
}

#location {
    color: rgb(200,200,200);
    font-family: "Fnaf UI";
    font-weight: 200;
}

#viewport {
    height: 720px;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

#tabletbg {
    width: 1366px;
    height: 614.69px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#backgroundimg {
    max-width:100%;
    max-height:100%;
}

#fanimg {
    position: absolute;
    left: 665px;
    top: 259px;
    height: 23.2%;
    width: 8.65%;
}

#leftdoor {
    position: absolute;
    left: 665px;
    top: 259px;
}
